Repository IvanCampelo22/app-travel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

.lintstagedrc:

{
  "*.{js,ts,css,scss,postcss,md,json,tsx}": [
    "prettier --write --plugin-search-dir=.",
    "prettier --check --plugin-search-dir=."
  ],
  "*.{js,ts,tsx}": "eslint --max-warnings=0 --no-ignore"
}

fix(server/bookingproduct): test
  libs/server/account/src/specs/account.e2e.spec.ts
  libs/server/account/src/specs/account.service.spec.ts
  libs/server/booking/src/lib/booking.controller.ts
  libs/server/booking/src/specs/booking.e2e.spec.ts
  libs/server/booking/src/specs/booking.service.spec.ts
  libs/server/bookingproducts/src/lib/bookingproducts.module.ts
  libs/server/bookingproducts/src/specs/bookingproducts.e2e.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(test): test
  libs/server/account-payable/src/lib/account-payable.module.ts
  libs/server/account-receivable/src/lib/account-receivable.module.ts
  libs/server/account/src/lib/account.module.ts
  libs/server/bookingproducts/src/lib/bookingproducts.controllers.ts
  libs/server/client/src/lib/client.module.ts
  libs/server/product/src/lib/product.module.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(server/booking): fix bug in pagination and filter
  libs/server/booking/src/lib/booking.controller.ts
  libs/server/booking/src/lib/booking.service.ts
  libs/server/booking/src/specs/booking.e2e.spec.ts
  libs/server/booking/src/specs/booking.service.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(server/booking): fix bug in pagination
  libs/server/account-receivable/jest.config.ts
  libs/server/account-receivable/package.json
  libs/server/account-receivable/project.json
  libs/server/account-receivable/src/lib/account-receivable.controllers.ts
  libs/server/account-receivable/src/lib/account-receivable.service.ts
  libs/server/account-receivable/src/lib/dto/account-receivable.create.dto.ts
  libs/server/account-receivable/src/lib/dto/account-receivable.update.dto.ts
  libs/server/booking/src/lib/booking.service.ts
  libs/server/client/jest.config.ts
  libs/server/client/project.json
  libs/server/client/src/specs/client.service.spec.ts
  libs/server/client/tsconfig.spec.json
  libs/server/product/jest.config.ts
  libs/server/product/project.json
  libs/server/product/src/specs/product.service.spec.ts
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(server/booking): fix bug for pagination
  libs/server/booking/src/lib/booking.service.ts
  libs/server/client/src/specs/client.service.spec.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(server/booking): fix pages booking bug
  libs/server/booking/src/lib/booking.service.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

Update aws region definition
  .github/workflows/deploy.yaml
  ecs-backend-task-definition.json
  ecs-web-task-definition.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

Update aws region definition
  yarn.lock
Due: none

chore(server): add webpack
  package.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(server/booking): add try in booking new
  libs/server/booking/src/lib/booking.controller.ts
  package.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

chore(server/booking): test
  libs/server/booking/src/lib/booking.controller.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/booking): add try in controllers new
  libs/server/account/src/lib/account.controller.ts
  libs/server/booking/src/lib/booking.service.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/accounttype): add crud in accounttype
  apps/server/src/main.module.ts
  libs/server/account-payable/src/lib/account-payable.controllers.ts
  libs/server/account-receivable/src/lib/account-receivable.controllers.ts
  libs/server/account/src/lib/account.controller.ts
  libs/server/account/src/lib/account.service.ts
  libs/server/accounttype/.babelrc
  libs/server/accounttype/.eslintrc.json
  libs/server/accounttype/README.md
  libs/server/accounttype/jest.config.ts
  libs/server/accounttype/package.json
  libs/server/accounttype/project.json
  libs/server/accounttype/src/index.ts
  libs/server/accounttype/src/lib/accounttype.controllers.ts
  libs/server/accounttype/src/lib/accounttype.module.ts
  libs/server/accounttype/src/lib/accounttype.service.ts
  libs/server/accounttype/src/lib/dto/accounttype.create.dto.ts
  libs/server/accounttype/src/lib/dto/accounttype.update.dto.ts
  libs/server/accounttype/tsconfig.json
  libs/server/accounttype/tsconfig.lib.json
  libs/server/accounttype/tsconfig.spec.json
  libs/server/client/src/lib/client.controllers.ts
  libs/server/contact/src/lib/contact.controllers.ts
  libs/server/contacttype/src/lib/contacttype.controllers.ts
  libs/server/infra/database/prisma/migrations/20230506230900_add_table_in_account_type/migration.sql
  libs/server/infra/database/prisma/migrations/20230506232531_add_fields_in_table_account_type/migration.sql
  libs/server/infra/database/prisma/migrations/20230506233930_alter_name_field_account_type_cd/migration.sql
  libs/server/infra/database/prisma/migrations/20230506234548_add_id_in_table_account_type/migration.sql
  libs/server/infra/database/prisma/schema.prisma
  libs/server/lead/src/lib/lead.controllers.ts
  libs/server/lead/src/lib/lead.service.ts
  libs/server/product/src/lib/product.controllers.ts
  tsconfig.base.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(test): test
  apps/server/src/main.module.ts
  apps/server/src/upload.ts
  package.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/booking): add upload files em other typeproducts
  apps/server/src/upload.ts
  libs/server/booking/src/lib/booking.controller.ts
  libs/server/bookingproducts/src/lib/bookingproducts.controllers.ts
  libs/server/infra/database/prisma/schema.prisma
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/booking): add new types products in booking
  libs/server/booking/src/lib/booking.service.ts
  libs/server/infra/database/prisma/migrations/20230509233003_add_new_type_products/migration.sql
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/bookingproducts): add default in bookingproducts, bookings and accounts
  libs/server/account/src/lib/account.service.ts
  libs/server/booking/src/lib/booking.service.ts
  libs/server/bookingproducts/src/lib/bookingproducts.service.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/booking): teste
  apps/server/src/main.module.ts
  libs/server/aws/.babelrc
  libs/server/aws/.eslintrc.json
  libs/server/aws/README.md
  libs/server/aws/jest.config.ts
  libs/server/aws/package.json
  libs/server/aws/project.json
  libs/server/aws/src/index.ts
  libs/server/aws/src/lib/aws.module.ts
  libs/server/aws/src/lib/aws.service.ts
  libs/server/aws/tsconfig.json
  libs/server/aws/tsconfig.lib.json
  libs/server/aws/tsconfig.spec.json
  libs/server/booking/src/lib/booking.service.ts
  libs/server/bookingproducts/src/lib/bookingproducts.controllers.ts
  libs/server/bookingproducts/src/lib/bookingproducts.module.ts
  libs/server/bookingproducts/src/lib/bookingproducts.service.ts
  libs/server/bookingproducts/src/lib/dto/bookingproduct.create.dto.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(server/bookings): fix bug in filter of date
  libs/server/booking/src/lib/booking.service.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat: popup add
  libs/server/bookingproducts/src/specs/teste.py
Due: none
