Repository IvanCampelo22/app-travel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(web): remove @testing-library/react from production deps
  apps/web/Dockerfile
  build-web.sh
  libs/web/base-ui/src/index.ts
  libs/web/base-ui/src/layouts/index.ts
  libs/web/base-ui/src/layouts/layout.type.ts
  libs/web/base-ui/src/utils/app-layout.tsx
  libs/web/money-input/src/specs/money-input.spec.tsx
  libs/web/phone-input/src/specs/phone-input.spec.tsx
  tsconfig.base.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

backend deployment
  .github/workflows/backend.yaml
  ecs-backend-task-definition.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

backend deployment
  apps/server/ecs-backend-task-definition.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

backend deployment
  .github/workflows/backend.yaml
  apps/server/ecs-backend-task-definition.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

ci(all): add server config for deploy
  .dockerignore
  .github/workflows/backend.yaml
  .github/workflows/deploy.yaml
  apps/server/Dockerfile
  apps/web/Dockerfile
  build-server.sh
  build-web.sh
  docker-compose.yml
  ecs-backend-task-definition.json
  ecs-server-task-definition.json
  entrypoint.sh
  libs/server/infra/core/src/lib/configurations/database.config.ts
  libs/server/infra/database/prisma/schema.prisma
  libs/server/infra/database/src/lib/database.seed.ts
  libs/server/infra/database/src/lib/database.service.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

ci(all): fix docker-compose command
  .github/workflows/deploy.yaml
Due: none

ci(server): add build step
  .github/workflows/backend.yaml
Due: none

ci(server): add DATABASE_URL to backend.yaml
  .github/workflows/backend.yaml
Due: none

ci(server): fix Dockerfile path
  .github/workflows/backend.yaml
Due: none

ci(server): fiz path
  .github/workflows/backend.yaml
Due: none

fix(server): fix deploy
  .github/workflows/backend.yaml
Due: none

backend deployment
  .github/workflows/backend.yaml
Due: none

Update backend.yaml
  .github/workflows/backend.yaml
Due: none

refactor(page/customer-service): add scroll to table
  apps/web/pages/admin/customer-service/index.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(pages/service-record): add number input to rooms input and add rooms on change input
  apps/web/pages/admin/service-record/index.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/childe-age): add others values to select
  libs/web/childe-age/src/lib/childe-age.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/side-navbar): display none in small screen
  libs/web/side-navbar/src/lib/side-navbar.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/specs): add renderWithTheme to test
  libs/web/childe-age/src/specs/childe-age.spec.tsx
  libs/web/customer-service-resume/src/specs/customer-service-resume.spec.tsx
  libs/web/header/src/specs/header.spec.tsx
  libs/web/horizontal-tabs/src/specs/horizontal-tabs.spec.tsx
  libs/web/pagination/src/specs/pagination.spec.tsx
  libs/web/room-prefs/src/specs/room-prefs.spec.tsx
  libs/web/side-navbar/src/specs/side-navbar.spec.tsx
  libs/web/table-row/src/specs/table-row.spec.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/room-prefs): add childe and adult input props
  libs/web/room-prefs/src/lib/room-prefs.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/quantity-input): add testes
  libs/web/quantity-input/src/specs/quantity-input.spec.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/quantity-input): add title and description props
  libs/web/quantity-input/src/lib/quantity-input.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/quantity-input): add props to input
  libs/web/quantity-input/src/lib/quantity-input.stories.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/header): remove page-header.specs
  libs/web/header/specs/page-header.spec.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

fix(web/header): fix import icons
  libs/web/header/src/lib/header.stories.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

refactor(web/header): change test folder
  libs/web/header/tsconfig.lib.json
  libs/web/header/tsconfig.spec.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix(web/base-ui): remove page-layout from export
  libs/web/base-ui/src/utils/index.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(pages/ ervice-record): add validation to form
  apps/web/pages/admin/service-record/index.tsx
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

testing the deployment
  .github/workflows/deploy_test_NOT_DELETE.yaml
Due: none

testing the deployment
  .github/workflows/backend.yaml
  .github/workflows/deploy_test_NOT_DELETE.yaml
Due: none

add deploy-web.yml
  .github/workflows/deploy-web.yml
Due: none

testing the deployment
  ecs-backend-task-definition.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat(server/account): add file create dto for validation
  docker-compose.yml
  libs/server/account/src/lib/dto/account.create.dto.ts
  libs/server/account/src/lib/dto/account.update.dto.ts
  package.json
  yarn.lock
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

feat(server/account): add update dto for validation in account lib
  libs/server/account/src/lib/dto/account.update.dto.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint --max-warnings=0 --no-ignore

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,tsx}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,css,scss,postcss,md,json,tsx}
  eslint --max-warnings=0 --no-ignore: any of: *.{js,ts,tsx}
